language: php
dist: focal
sudo: false
group: edge

env:
  global:
    - SETUP=stable

php:
  - 8.0

matrix:
  fast_finish: true

  include:
    - php: 8.0
      env: SETUP=stable

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - curl -s http://getcomposer.org/installer | php
  - travis_retry composer install --no-interaction --prefer-source
  - if [[ $SETUP = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [[ $SETUP = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

before_script:
  - phpenv config-rm xdebug.ini || true
  - mkdir -p build/logs

  # show some versions and env information
  - php --version
  - composer --version

script:
  - php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover coverage.xml

after_success:
  - if [[ $SETUP = 'stable' ]]; then bash <(curl -s https://codecov.io/bash); fi

notifications:
  email: false
